---
# 패키지 불러오기

- java의 import처럼 매번 불러와야 함.

In [6]:
# 패키지 불러오기
library(stringr)

---
# 문자열 처리
수집한 데이터의 필요한 문자열을 자르고, 교체하고, 추출하는 작업
java에서 import 랑 같음.

### stringr package사용
- str_length() : 문자열 길이
- str_c() : 문자열 연결
- str_sub() : 범위에 해당하는 문자열 생성
- str_split() : 구분자를 기준으로 문자열은 분리하여 부분 생성
- str_replace() : 문자열에서 기존 문자열을 특정 문자열로 변환시키는것
-- (exe. 123,456 ','를 빈공간으로 만들고 as.~ 를 써서 123456을 숫자로 바꿔)/str_replace_all()
- str_extract() : 문자열에서 특정 문자열 패턴의 첫번째 문자열 추출 
-- (exe.영어만 가져와,숫자만 가져와, 등등등 정규식을 통해서 가져옴)/str_extract_all()
-str_locate() : 문자열에서 특정 문자열 패턴의 첫번째 위치 추출 /str_locate_all()

In [7]:
string <- "hongkildong105yoube1002kawanwoo20장비2005"

#a-z까지의 영문자가 연속으로 3개 발견된 문자열 추출 (3글자 씩 뽑아오고 싶은거임)
#정규식
str_extract_all(string, "[a-z]{3}") # list네!
str_extract_all(string, "[a-z]{3}")[1]

#a-z까지의 영문자가 연속으로 3개-5개 발견된 문자열 추출
#최솟값 3, 최댓값 5
str_extract_all(string, "[a-z]{3,5}")

#a-z까지의 영문자가 연속으로 1개이상 발견된 문자열 추출
#{1,} = 1개 이상
str_extract_all(string, "[a-z]{1,}")

#홍길동만 뽑고 싶은데!
aaa <- str_extract_all(string, "[a-z]{1,}")
class(aaa)

#list네! list를 없애고 싶어 unlist() 사용
bbb <- unlist(aaa)
bbb[1]

# string에서 숫자만 출력하여 합계 구하기

string
str_extract_all(string , "[0-9]{1,}")
sum(as.numeric(unlist(str_extract_all(string , "[0-9]{1,}"))))


#한글만 추출하기
string
str_extract_all(string , "[가-힣]{1,}")

#영문자를 제와한 문자출력하기.(여집합 = ^(not))
#정규식은 모든 프로그래밍 언어에서 다 동일함.
str_extract_all(string , "[^a-z]{1,}")

[[1]]
[1] "hon" "gki" "ldo" "you" "kaw" "anw"

[[1]]
[1] "hon" "gki" "ldo" "you" "kaw" "anw"

[[1]]
[1] "hongk" "ildon" "yoube" "kawan" "woo"

[[1]]
[1] "hongkildong" "yoube"       "kawanwoo"

[1] "list"

[1] "hongkildong"

In [ ]:
#문자열 길이 구하기.
str_length(string)

#문자열 위치 구하기.
#특정 단어의 위치를 알고있어면 구분을 해줄수 있음. 
#데이터의 위치가 계속 바뀌니까 기준점을 잡을수 있게 도와줌.
str_locate(string, '장비')
#'matrix'
class(str_locate(string, '장비'))

#부분 문자열 추출
str_sub(string, 1, 32)
str_sub(string, 1, str_locate(string, '장비')[1]-1)
# 대문자, 소문자 변경하기

#대문자로 바꾸기
str_to_upper(string)
#소문자로 바꾸기
str_to_lower(string)

In [ ]:
#문자열 교체하기(한번에 해야함 교체한걸 다시 교체하면 에러!)

string <- str_replace(string, "hongkildong105", '홍길동35,')
string <- str_replace(string, 'yoube1002', '유비45,')
string <- str_replace(string, '2005', '20')
string

In [ ]:
#문자열 분리하기
str_split(string, ",")

In [ ]:
#천단위 쉼표가 들어간 문자열을 숫자로 변경하기1
#data에 "," 로 구분된것들이 많아서 꼭 알아야함.

price <- "123,456,789"
price <- as.numeric(str_replace_all(price, ',' , ''))
price
class(price)

In [ ]:
#천단위 쉼표가 들어간 문자열을 숫자로 변경하기2
#이게더 쉬운거 같은데..? 선생님은 이거 많이 쓰신대!
price <- "123,456,789"
as.numeric(str_remove_all(price,","))

In [4]:
# Na 변경하기
temp <- c(1, 2, NA, 4)
temp
str_replace_na(temp, 10)
as.numeric(str_replace_na(temp, 10))

[1]  1  2 NA  4

[1] "1"  "2"  "10" "4"

[1]  1  2 10  4