---
# DataFramem

- 다양한 자료형으로 구성된 2차원 형태의 데이터 구조(구성)
- AI는 데이터프레임으로 물어봐야함.
_ 데이터 프레임을 만들줄 알아야함.

In [1]:
# 백터로 데이터프레임 만들기

no <- 1:4
name <- c("Apple", "Banana", "Peach", "Berry")
price <- c(500, 400, 300, 200)
qty <- c(5, 2, 7, 9)

In [2]:
fruit <- data.frame(no, name, price, qty)
fruit

  no name   price qty
1 1  Apple  500   5
2 2  Banana 400   2
3 3  Peach  300   7
4 4  Berry  200   9

In [3]:
fruit <- data.frame(번호=no, 상품명=name, 금액=price, 재고량=qty, stringsAsFactors = F)
#또는  colnames(fruit) <- c("번호", "상품명", "금액", "재고량")
fruit

  번호 상품명 금액 재고량
1 1    Apple  500  5
2 2    Banana 400  2
3 3    Peach  300  7
4 4    Berry  200  9

In [4]:
str(fruit)

# $상품명: Factor 로 들어가있는데 상품명을 펙터로 안쓸려면 stringsAsFactors=F 를 넣어줌. 팩터로 안쓸꺼니까 이거 넣어주는게 좋음!

'data.frame':	4 obs. of  4 variables:
 $ 번호  : int  1 2 3 4
 $ 상품명: chr  "Apple" "Banana" "Peach" "Berry"
 $ 금액  : num  500 400 300 200
 $ 재고량: num  5 2 7 9

In [5]:
summary(fruit)

      번호         상품명               금액         재고량
 Min.   :1.00   Length:4           Min.   :200   Min.   :2.00
 1st Qu.:1.75   Class :character   1st Qu.:275   1st Qu.:4.25
 Median :2.50   Mode  :character   Median :350   Median :6.00
 Mean   :2.50                      Mean   :350   Mean   :5.75
 3rd Qu.:3.25                      3rd Qu.:425   3rd Qu.:7.50
 Max.   :4.00                      Max.   :500   Max.   :9.00

In [6]:
# fruit 에서 상품명과 재고량만 보기

fruit
fruit[,c(2, 4)]
fruit[,c("상품명", "재고량")]

  번호 상품명 금액 재고량
1 1    Apple  500  5
2 2    Banana 400  2
3 3    Peach  300  7
4 4    Berry  200  9

  상품명 재고량
1 Apple  5
2 Banana 2
3 Peach  7
4 Berry  9

  상품명 재고량
1 Apple  5
2 Banana 2
3 Peach  7
4 Berry  9

In [7]:
# fruit에서 번호를 제외한 모든내용 보기

fruit[ ,-1]

  상품명 금액 재고량
1 Apple  500  5
2 Banana 400  2
3 Peach  300  7
4 Berry  200  9

In [8]:
 #fruit에서 2,4번 행을 제외한 상품명,금액,재고량만 출력하기.

fruit[-c(2,4),-1]

  상품명 금액 재고량
1 Apple  500  5
3 Peach  300  7

In [11]:
#재고금액(금액*재고량) 이라는 컬럼 생성하여 fruit에 붙이기

fruit$재고금액 <- fruit$금액 * fruit$재고량

fruit

  번호 상품명 금액 재고량 재고금액
1 1    Apple  500  5      2500
2 2    Banana 400  2       800
3 3    Peach  300  7      2100
4 4    Berry  200  9      1800

In [13]:
fruit$원산지 <- c("한국", "태국" ,"한국", "중국")

In [14]:
fruit

  번호 상품명 금액 재고량 재고금액 원산지
1 1    Apple  500  5      2500     한국
2 2    Banana 400  2       800     태국
3 3    Peach  300  7      2100     한국
4 4    Berry  200  9      1800     중국

---
# 외부 File 불러오기

In [24]:
# txt File 불러오기
                 #파일 형식. 띄어쓰기방법. 윈도우에서 온파일들 설정 바꿔주는부분
txtEmp <- read.table("Rdata/emp.txt", header = T, sep = "/", stringsAsFactors = F)

#header가 없으면 str로 불러오면 다 문자열로 바뀜.
#txtEmp <- read.table("Rdata/emp.txt", sep = "/", stringsAsFactors = F)
txtEmp

  사번 이름 급여
1 101  hong 150
2 201  lee  250
3 301  kim  300

In [25]:
str(txtEmp)

'data.frame':	3 obs. of  3 variables:
 $ 사번: int  101 201 301
 $ 이름: chr  "hong" "lee" "kim"
 $ 급여: int  150 250 300

In [56]:
# csv(comma Seperated Value) 
#콤마로 구분해놓은 데이터(99% 이거 사용)

csvEmp <- read.csv("Rdata/emp2.csv", header = F)
csvEmp

#사번, 이름, 급여로 컬럼 변경하기.


colnames(csvEmp) <- c("사번", "이름", "급여")
#이건 왜 안되는지 모르겠네;;
#V1 이건 data안에 없는 값인데 생김. 이걸 바꾸려고 V값을 쓰니까 없대에ㅔㅇ

csvEmp <- data.frame(사번=V1, 이름=V2, 급여=V3, stringsAsFactors = F)
csvEmp
class(csvEmp)

  V1  V2     V3
1 101 홍길동 150
2 102 이순신 450
3 103 강감찬 500
4 104 유관순 350
5 105 김유신 400

ERROR: Error in data.frame(사번 = V1, 이름 = V2, 급여 = V3, stringsAsFactors = F): 객체 'V1'를 찾을 수 없습니다

In [42]:
str(csvEmp)

'data.frame':	5 obs. of  3 variables:
 $ 사번: int  101 102 103 104 105
 $ 이름: Factor w/ 5 levels "강감찬","김유신",..: 5 4 1 3 2
 $ 급여: int  150 450 500 350 400