---
# DataFramem

- 다양한 자료형으로 구성된 2차원 형태의 데이터 구조(구성)
- AI는 데이터프레임으로 물어봐야함.
_ 데이터 프레임을 만들줄 알아야함.

In [1]:
# 백터로 데이터프레임 만들기

no <- 1:4
name <- c("Apple", "Banana", "Peach", "Berry")
price <- c(500, 400, 300, 200)
qty <- c(5, 2, 7, 9)

In [2]:
fruit <- data.frame(no, name, price, qty)
fruit

  no name   price qty
1 1  Apple  500   5
2 2  Banana 400   2
3 3  Peach  300   7
4 4  Berry  200   9

In [3]:
fruit <- data.frame(번호=no, 상품명=name, 금액=price, 재고량=qty, stringsAsFactors = F)
#또는  colnames(fruit) <- c("번호", "상품명", "금액", "재고량")
fruit

  번호 상품명 금액 재고량
1 1    Apple  500  5
2 2    Banana 400  2
3 3    Peach  300  7
4 4    Berry  200  9

In [4]:
str(fruit)

# $상품명: Factor 로 들어가있는데 상품명을 펙터로 안쓸려면 stringsAsFactors=F 를 넣어줌. 팩터로 안쓸꺼니까 이거 넣어주는게 좋음!

'data.frame':	4 obs. of  4 variables:
 $ 번호  : int  1 2 3 4
 $ 상품명: chr  "Apple" "Banana" "Peach" "Berry"
 $ 금액  : num  500 400 300 200
 $ 재고량: num  5 2 7 9

In [5]:
summary(fruit)

      번호         상품명               금액         재고량
 Min.   :1.00   Length:4           Min.   :200   Min.   :2.00
 1st Qu.:1.75   Class :character   1st Qu.:275   1st Qu.:4.25
 Median :2.50   Mode  :character   Median :350   Median :6.00
 Mean   :2.50                      Mean   :350   Mean   :5.75
 3rd Qu.:3.25                      3rd Qu.:425   3rd Qu.:7.50
 Max.   :4.00                      Max.   :500   Max.   :9.00

In [6]:
# fruit 에서 상품명과 재고량만 보기

fruit
fruit[,c(2, 4)]
fruit[,c("상품명", "재고량")]

  번호 상품명 금액 재고량
1 1    Apple  500  5
2 2    Banana 400  2
3 3    Peach  300  7
4 4    Berry  200  9

  상품명 재고량
1 Apple  5
2 Banana 2
3 Peach  7
4 Berry  9

  상품명 재고량
1 Apple  5
2 Banana 2
3 Peach  7
4 Berry  9

In [7]:
# fruit에서 번호를 제외한 모든내용 보기

fruit[ ,-1]

  상품명 금액 재고량
1 Apple  500  5
2 Banana 400  2
3 Peach  300  7
4 Berry  200  9

In [8]:
 #fruit에서 2,4번 행을 제외한 상품명,금액,재고량만 출력하기.

fruit[-c(2,4),-1]

  상품명 금액 재고량
1 Apple  500  5
3 Peach  300  7

In [9]:
#재고금액(금액*재고량) 이라는 컬럼 생성하여 fruit에 붙이기

fruit$재고금액 <- fruit$금액 * fruit$재고량

fruit

  번호 상품명 금액 재고량 재고금액
1 1    Apple  500  5      2500
2 2    Banana 400  2       800
3 3    Peach  300  7      2100
4 4    Berry  200  9      1800

In [10]:
fruit$원산지 <- c("한국", "태국" ,"한국", "중국")

In [11]:
fruit

  번호 상품명 금액 재고량 재고금액 원산지
1 1    Apple  500  5      2500     한국
2 2    Banana 400  2       800     태국
3 3    Peach  300  7      2100     한국
4 4    Berry  200  9      1800     중국

---
# 외부 File 불러오기

In [12]:
# txt File 불러오기
                 #파일 형식. 띄어쓰기방법. 윈도우에서 온파일들 설정 바꿔주는부분
txtEmp <- read.table("Rdata/emp.txt", header = T, sep = "/", stringsAsFactors = F)

#header가 없으면 str로 불러오면 다 문자열로 바뀜.
#txtEmp <- read.table("Rdata/emp.txt", sep = "/", stringsAsFactors = F)
txtEmp

  사번 이름 급여
1 101  hong 150
2 201  lee  250
3 301  kim  300

In [13]:
str(txtEmp)

'data.frame':	3 obs. of  3 variables:
 $ 사번: int  101 201 301
 $ 이름: chr  "hong" "lee" "kim"
 $ 급여: int  150 250 300

In [14]:
# csv(comma Seperated Value) 
#콤마로 구분해놓은 데이터(99% 이거 사용)

csvEmp <- read.csv("Rdata/emp2.csv", header = F)
csvEmp

#사번, 이름, 급여로 컬럼 변경하기.


colnames(csvEmp) <- c("사번", "이름", "급여")
#이건 왜 안되는지 모르겠네;;
#V1 이건 data안에 없는 값인데 생김. 이걸 바꾸려고 V값을 쓰니까 없대에ㅔㅇ
#-- 없는게 맞고 이렇게 하면 안돼고 컬럼 이름 바꿔줘야함.

csvEmp <- data.frame(사번=V1, 이름=V2, 급여=V3, stringsAsFactors = F)
csvEmp
class(csvEmp)

  V1  V2     V3
1 101 홍길동 150
2 102 이순신 450
3 103 강감찬 500
4 104 유관순 350
5 105 김유신 400

ERROR: Error in data.frame(사번 = V1, 이름 = V2, 급여 = V3, stringsAsFactors = F): 객체 'V1'를 찾을 수 없습니다

In [ ]:
str(csvEmp)

---

In [25]:
# 백터로 데이터프레임 만들기

df <- data.frame(x=1:5,y=seq(2, 10, 2),z=c("a","b","c","d","e"))
df

  x y  z
1 1  2 a
2 2  4 b
3 3  6 c
4 4  8 d
5 5 10 e

In [26]:
# x컬럼의 합계는 15이고 y의 합계는 30입니다.
cat("x컬럼의 합계는", sum(df$x), " 이고 y의 합계는", sum(df$y)," 입니다.")

x컬럼의 합계는 15  이고 y의 합계는 30  입니다.

## 함수를 부르는 함수
### apply()
#### 굉장히 편한거라 많이 사용!

In [33]:
# 데이터 프레임에 함수를 적용한다(열방향)

#(1:2) 컬럼을 어디까지 인지 지정
# 2 방향
apply(df[,1:2], 2, sum)

#'numeric'이나오네~!
class(apply(df[,1:2], 2, sum))
apply(df[,1:2], 2, sum)[1]
apply(df[,1:2], 2, mean)
apply(df[,1:2], 2, sd)

 x  y
15 30

[1] "numeric"

 x
15

x y
3 6

       x        y
1.581139 3.162278

In [35]:
# 데이터 프레임에 함수 적용(행방향)
apply(df[,1:2], 1, sum)
apply(df[,1:2], 1, mean)
apply(df[,1:2], 1, sd)

[1]  3  6  9 12 15

[1] 1.5 3.0 4.5 6.0 7.5

[1] 0.7071068 1.4142136 2.1213203 2.8284271 3.5355339

In [36]:
#df에 Hap이라는 컬럼을 만들어서 행방향의 합계 구하기
# 이부분 다시 확인하기!
df$Hap <- apply(df[,1:2], 1, sum)
df

  x y  z Hap
1 1  2 a  3
2 2  4 b  6
3 3  6 c  9
4 4  8 d 12
5 5 10 e 15


# *** 부분집합
### subset()
조건이 있는애를 보는법

In [41]:
df
subset(df, x>=3)
subset(df,x>=3 & y>=8)

  x y  z Hap
1 1  2 a  3
2 2  4 b  6
3 3  6 c  9
4 4  8 d 12
5 5 10 e 15

  x y  z Hap
3 3  6 c  9
4 4  8 d 12
5 5 10 e 15

  x y  z Hap
4 4  8 d 12
5 5 10 e 15

In [46]:
subset(df,x>=3 & y>=8)
subset(df,x>=3 & y>=8)[,1:2]
subset(df,x>=3 & y>=8)[,1:2][,1]

  x y  z Hap
4 4  8 d 12
5 5 10 e 15

  x y
4 4  8
5 5 10

[1] 4 5

In [55]:
# 4번 행과 5번 행의 x컬럼과 y컬럼의 합계를 구하기

subset(df,x>=3 & y>=8)

apply(subset(df,x>=3 & y>=8)[, 1:2], 2 ,sum)
#x
apply(subset(df,x>=3 & y>=8)[, 1:2], 2 ,sum)[1]
#y
apply(subset(df,x>=3 & y>=8)[, 1:2], 2 ,sum)[2]

  x y  z Hap
4 4  8 d 12
5 5 10 e 15

  x y  z Hap
4 4  8 d 12
5 5 10 e 15

 x  y
 9 18

x
9

 y
18

---
### 두개 이상의 데이터 프레임 병합하기

In [3]:
#case 1 : KEY값이 되는 컬럼이 동일하고, data의 갯수도 동일한 경우(이런경우는 많이 없음..)

height <- data.frame(id=1:3,height=c(160, 170, 180)); height
weight <-data.frame(id=c(2,1,3), weight=c(70,60,80)); weight

  id height
1 1  160
2 2  170
3 3  180

  id weight
1 2  70
2 1  60
3 3  80

In [4]:
#병합한다.
merge(height, weight)

  id height weight
1 1  160    60
2 2  170    70
3 3  180    80

In [5]:
# case 2 : KRY값이 되는 컬럼이 동일하지 않고, 각각의 data 갯수도 다른 경우
height <- data.frame(id=1:3, height=c(160,170,180)) ;height
weight <- data.frame(ad=c(2,1), weight=c(70,60)); weight

  id height
1 1  160
2 2  170
3 3  180

  ad weight
1 2  70
2 1  60

In [6]:
merge(height, weight)

  id height ad weight
1 1  160    2  70
2 2  170    2  70
3 3  180    2  70
4 1  160    1  60
5 2  170    1  60
6 3  180    1  60

In [7]:
#KEY를 정의하기 : data가 작은쪽의 기준으로 merge한다.
#교집합
merge(x=height, y=weight, by.x='id', by.y='ad')

  id height weight
1 1  160    60
2 2  170    70

In [10]:
#Data가 많은쪽의 기준으로 merge
#합집합
merge(x=height, y=weight, by.x='id', by.y='ad', all.x=T)

  id height weight
1 1  160    60
2 2  170    70
3 3  180    NA

### 행렬 함수로 행렬 만들기

In [12]:
matrix(1:10)

      [,1]
 [1,]  1
 [2,]  2
 [3,]  3
 [4,]  4
 [5,]  5
 [6,]  6
 [7,]  7
 [8,]  8
 [9,]  9
[10,] 10

In [16]:
matrix(1:10, nrow=2)

     [,1] [,2] [,3] [,4] [,5]
[1,] 1    3    5    7     9
[2,] 2    4    6    8    10

In [17]:
matrix(1:10, nrow=3, ncol =3)

Warning message in matrix(1:10, nrow = 3, ncol = 3):
“데이터의 길이[10]가 행의 개수[3]의 배수가 되지 않습니다”

     [,1] [,2] [,3]
[1,] 1    4    7
[2,] 2    5    8
[3,] 3    6    9

## List
(데이터 프레임의 샘플 하나하나.request할게 하나밖에 없으면 List 사용 해도 됨.)
- Type이 다른 자료구조로 생성이 가능하다.(데이터 프래임만 가능)
- Key와 value값으로 구성된다.
- java - 딕셔너리. 
- 플로터? - map

In [20]:
member <- list(name='홍길동', address='서울', tel='010-2222-1111', pay='300')
member

$name
[1] "홍길동"

$address
[1] "서울"

$tel
[1] "010-2222-1111"

$pay
[1] "300"

In [21]:
member$name

[1] "홍길동"

In [22]:
member$birth <- '1988-08-08'
member

$name
[1] "홍길동"

$address
[1] "서울"

$tel
[1] "010-2222-1111"

$pay
[1] "300"

$birth
[1] "1988-08-08"