In [1]:
x <- 10
y <- runif(1) * 100

if(x > y){
    print("x > runif()")
}
print("----End---")

[1] "----End---"

In [2]:
x <- 10
y <- runif(1) * 100

if(x > y){
    print("x > runif()")
}else{
    print("x <= runif()")
}
print("----End---")

[1] "x <= runif()"
[1] "----End---"

In [3]:
x <- 10
y <- runif(1) * 100

if(x > y){
    print("x > runif()")
}else if(x > y){
    print("x <= runif()")
}else{
    print("x = runif()")
}

[1] "x > runif()"

In [4]:
# 홀수 짝수 구분

a <- 8
(a %% 2)
if((a %% 2) == 0){
    #정수는 i
   sprintf("%i는 짝수입니다.",a) 
}else{
    cat(a,"는 홀수입니다.")
}

[1] 0

[1] "8는 짝수입니다."

In [5]:
#a는 백터값인데 if문은 백터값을 못씀.
a <- c(8,7,6)
(a %% 2)
if((a %% 2) == 0){
    #정수는 i
   sprintf("%i는 짝수입니다.",a) 
}else{
    cat(a,"는 홀수입니다.")
}

[1] 0 1 0

Warning message in if ((a%%2) == 0) {:
“length > 1 이라는 조건이 있고, 첫번째 요소만이 사용될 것입니다”

[1] "8는 짝수입니다." "7는 짝수입니다." "6는 짝수입니다."

In [6]:
a <- c(8,7,6)
#백터처리가 가능한 ifelse
ifelse(a %% 2 == 0,"짝수","홀수")

[1] "짝수" "홀수" "짝수"

In [7]:
#8:짝수 7:홀수 6:짝수 로 나타내기
#paste는 백터를 만들어줘
ifelse(a %% 2 == 0, paste(a,": 짝수"), paste(a,": 홀수"))

[1] "8 : 짝수" "7 : 홀수" "6 : 짝수"

In [8]:
# 사용자로부터 데이터를 입력받아 입력한 숫자가 홀수인지 짝수인지 판단하여 출력하기
# <-- 별표[*] 가 떠있으면 실행중 이게 떠있으면 밑에 cell작동 x
num1 <- as.integer(readline("숫자를 입력하세요 :"))
print(num1)

#입력하신 숫자는 12이고 짝수 입니다.
if(num1 %% 2 == 0){
    cat("입력하신 숫자는", num1, "이고 짝수입니다.")
}else{
    sprintf("입력하신 숫자는 %i이고 홀수 입니다.",num1)
}

숫자를 입력하세요 :6
[1] 6
입력하신 숫자는 6 이고 짝수입니다.

In [9]:
#점수를 입력하세요 : 88
#"B학점 입니다."
grade <- as.integer(readline("점수를 입력하세요 :"))

if(grade <= 100 & grade >= 90 ){
    print("A학점 입니다.")
}else if(grade < 90 & grade >= 80){
     cat("B학점 입니다.")  
}else if(grade < 80 & grade >= 70){
     print("C학점 입니다.") 
}else if(grade < 70 & grade >= 60){
     cat("D학점 입니다.") 
}else{
    print("F학점 입니다.")
}

점수를 입력하세요 :6
[1] "F학점 입니다."

### csv file을 불러서 사용하기

In [10]:
excel <- read.csv("Rdata/excel.csv")
head(excel)

  q1 q2 q3 q4 q5
1 2  4  4  2  2
2 1  2  2  2  2
3 2  3  4  3  3
4 3  5  5  3  3
5 3  2  4  4  4
6 4  3  3  4  2

In [11]:
tail(excel)

    q1 q2 q3 q4 q5
397 2  3  5  2  4
398 4  3  3  2  4
399 2  4  4  2  3
400 2  2  5  2  4
401 2  3  4  2  4
402 2  2  4  2  4

In [12]:
str(excel)

'data.frame':	402 obs. of  5 variables:
 $ q1: int  2 1 2 3 3 4 3 4 4 4 ...
 $ q2: int  4 2 3 5 2 3 4 2 4 2 ...
 $ q3: int  4 2 4 5 4 3 4 4 5 4 ...
 $ q4: int  2 2 3 3 4 4 2 4 3 2 ...
 $ q5: int  2 2 3 3 4 2 2 4 4 3 ...

In [21]:
# q1컬럼에서 Data가 3보다 크거나 같으면 data의 제곱근을 구하고 아니면 원래 Data를 출력하기

q1 <- excel$q1
#length(q1)
#q1 ** 2
#위에거 참고 ifelse(a %% 2 == 0, paste(a,": 짝수"), paste(a,": 홀수"))
#ifelse(q1 >= 3 , q1^2, q1)
#print(ifelse(q1>=3,sqrt(q1),q1))
#결과값 길어서 주석.
#[1] 2.000000 1.000000 2.000000 1.732051 1.732051 2.000000 1.732051 2.000000
#  [9] 2.000000 2.000000 2.000000 1.732051 1.732051 1.732051 1.000000 1.732051.......

In [14]:
# q1컬럼에서 Data가 3보다 크거나 같으면 data의 제곱근을 구하고 아니면 원래 Data를 q6라는 컬럼을 만들어 추가하기
excel$q6 <- ifelse(q1>=3,sqrt(q1),q1)
head(excel)

  q1 q2 q3 q4 q5 q6
1 2  4  4  2  2  2.000000
2 1  2  2  2  2  1.000000
3 2  3  4  3  3  2.000000
4 3  5  5  3  3  1.732051
5 3  2  4  4  4  1.732051
6 4  3  3  4  2  2.000000