## for문

In [1]:
# 1 - 10까지의 숫자 출력

1:10
for(i in 1:10){
    print(i)
}

 [1]  1  2  3  4  5  6  7  8  9 10

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10

In [2]:
for(i in c(1, 3, 5)){
    print(i)
}

[1] 1
[1] 3
[1] 5

In [3]:
for(i in seq(1, 10, 2)){
    print(i)
}

[1] 1
[1] 3
[1] 5
[1] 7
[1] 9

In [4]:
# 1 - 10까지의 제곱근 구하기
sqrt(1)
sqrt(2)
sqrt(3)
sqrt(4)

[1] 1

[1] 1.414214

[1] 1.732051

[1] 2

In [5]:
for (i in 1:10){
    print(sqrt(i))
}

[1] 1
[1] 1.414214
[1] 1.732051
[1] 2
[1] 2.236068
[1] 2.44949
[1] 2.645751
[1] 2.828427
[1] 3
[1] 3.162278

In [6]:
for (i in 1:10){
    cat(i," => ",sqrt(i),"\n")
}

1  =>  1
2  =>  1.414214
3  =>  1.732051
4  =>  2
5  =>  2.236068
6  =>  2.44949
7  =>  2.645751
8  =>  2.828427
9  =>  3
10  =>  3.162278

In [7]:
excel <- read.csv("Rdata/excel.csv")
head(excel)

  q1 q2 q3 q4 q5
1 2  4  4  2  2
2 1  2  2  2  2
3 2  3  4  3  3
4 3  5  5  3  3
5 3  2  4  4  4
6 4  3  3  4  2

In [8]:
#excel 에서 q3 컬럼 데이터의 홀수의 합과 짝수의 합 구하기
#'홀수의 합은 604 이고  짝수의 합은 852 입니다.'

sumEven <- 0; sumOdd <- 0;
for (i in excel$q3){
   if(i %% 2 == 0){
       sumEven  = sumEven + i
   }else{
       sumOdd = sumOdd + i
   }
}
cat("홀수의 합은", sumOdd, "이고 짝수의 합은", sumEven, "입니다.")

홀수의 합은 604 이고 짝수의 합은 852 입니다.

In [9]:
# excel에서 q3 컬럼 데이터중 3의 배수 합계 구하기

sum <- 0;
for (i in excel$q3){
    if(i %% 3 == 0){
        sum = sum + i
    }
}

sum

[1] 216

In [10]:
# excel에서 q3 컬럼 데이터중 3의 배수도 되고 4의 배수도 되는 수의 합계 구하기

sum1 <- 0;
for (i in excel$q3){
    if(i %% 3 == 0 & i %% 4 ==0){
        sum1 = sum1 + i
    }
}
sum1

[1] 0

In [11]:
#구구단 2단 출력하기

for(i in 1:9){
    cat("2 x",i,"=",2*i,"\n")
}

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

In [12]:
#사용자로부터 몇단을 출력학지 단수를 입력받아 구구단 출력하기
num1 <- as.integer(readline("단을 입력하세요! "))
for(i in 1:9){
    cat(num1 ,"x",i,"=",num1*i,"\n")
}

단을 입력하세요! 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

### 구구단 함수 만들기 - 1

In [13]:
# 함수 만드는건 java에서 class 만드는거랑 똑같음!

gugu <- function(){
    num1 <- as.integer(readline("단을 입력하세요! "))
    for(i in 1:9){
        cat(num1 ,"x",i,"=",num1*i,"\n")
    }
}

In [14]:
gugu()

단을 입력하세요! 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

### 구구단 함수 만들기 -2

In [15]:
gugu <- function(x){
    for(i in 1:9){
        cat(x,"X",i,"=",x*i,"\n")
    }
}
gugu(3)

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

### 구구단 함수 만들기 -3

In [16]:
gugu <- function(x,y){
    for(i in 1:y){
        cat(x,"X",i,"=",x*i,"\n")
    }
}
gugu(2,12)

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20
2 X 11 = 22
2 X 12 = 24

In [17]:
# 구구단 전체 출력하기
for(i in 2:5){
     for(j in 1:9){
        cat(i, "x",j,"=",i*j,"\n")
    } 
     cat("--------------------\n")
}

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
--------------------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
--------------------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
--------------------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
--------------------

In [18]:
# 구구단 짝수만 출력하기
#seq 만들어서 출력하기! if 문.. 너무 어렵게 생각하지마!
for(i in seq(2,9,2)){
     for(j in seq(2,9,2)){
        cat(i, "x",j,"=",i*j,"\n")
    } 
     cat("--------------------\n")
}

2 x 2 = 4
2 x 4 = 8
2 x 6 = 12
2 x 8 = 16
--------------------
4 x 2 = 8
4 x 4 = 16
4 x 6 = 24
4 x 8 = 32
--------------------
6 x 2 = 12
6 x 4 = 24
6 x 6 = 36
6 x 8 = 48
--------------------
8 x 2 = 16
8 x 4 = 32
8 x 6 = 48
8 x 8 = 64
--------------------

In [19]:
# 2개의 백터 자료를 함께 출력하기
score <- c(85, 95, 89)
name <- c("유비", "관우", "장비")
for(i in 1:3){
    cat(name[i],":", score[i],"\n")
}

j <- 1
for(i in score){
    cat(name[j],":",i,"\n")
    j=j+1
}

#sep = "" 띄어쓰기 제거 해주는것
cat(paste(name,":",score, "\n"), sep = "")

유비 : 85
관우 : 95
장비 : 89
유비 : 85
관우 : 95
장비 : 89
유비 : 85
관우 : 95
장비 : 89

### while
- 많이 사용 안하는데 시험에 자주 나옴

In [20]:
i <- 0
while(i < 10){
    i = i+1
    print(i)
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10

In [ ]:
# repeat 유일하게 괄호가 없는 함수라서 시험에 자주 나옴
i <- 0
repeat{
i = i + 1
    if(1 > 10){
        break
    }
    print(i)
}