In [1]:
ta <- read.table("Rdata/trafficAccident_2011_2019.txt")
head(ta)
tail(ta)

  V1   V2       V3       V4     V5    V6    V7    V8    V9    V10   V11   V12
1 기간 자치구별 구분     합계   1월   2월   3월   4월   5월   6월   7월   8월
2 2011 합계     발생건수 40,451 3,038 2,573 3,126 3,450 3,603 3,390 3,529 3,360
3 2011 합계     사망자수 435    36    32    20    44    36    37    36    50
4 2011 합계     부상자수 57,625 4,429 3,734 4,513 4,905 5,036 4,831 5,067 4,823
5 2011 종로구   발생건수 1,421  115   99    116   110   122   116   103   122
6 2011 종로구   사망자수 14     2     -     -     1     -     3     1     1
  V13   V14   V15   V16
1 9월   10월  11월  12월
2 3,433 3,734 3,701 3,514
3 37    25    40    42
4 4,893 5,244 5,150 5,000
5 121   135   140   122
6 2     2     1     1

    V1   V2     V3       V4    V5  V6  V7  V8  V9  V10 V11 V12 V13 V14 V15 V16
698 2019 송파구 발생건수 2,892 212 193 243 228 277 241 227 247 245 304 260 215
699 2019 송파구 사망자수 13    -   2   -   -   3   -   1   1   -   3   3   -
700 2019 송파구 부상자수 4,003 319 253 336 317 398 311 312 340 341 447 330 299
701 2019 강동구 발생건수 1,414 98  87  122 112 139 123 146 127 98  108 146 108
702 2019 강동구 사망자수 11    1   -   -   -   1   1   2   2   2   1   -   1
703 2019 강동구 부상자수 1,910 115 133 163 153 192 179 189 175 137 144 199 131

In [2]:
newSeoul2019 <- read.csv("Rdata/newSeoul2019.csv")
head(newSeoul2019)
tail(newSeoul2019)

  년도 월 자치구명 발생건수 사망자수 부상자수
1 2011 1  종로구   115      2        165
2 2011 2  종로구    99      0        134
3 2011 3  종로구   116      0        162
4 2011 4  종로구   110      1        153
5 2011 5  종로구   122      0        157
6 2011 6  종로구   116      3        163

     년도 월 자치구명 발생건수 사망자수 부상자수
2695 2019  7 강동구   146      2        189
2696 2019  8 강동구   127      2        175
2697 2019  9 강동구    98      2        137
2698 2019 10 강동구   108      1        144
2699 2019 11 강동구   146      0        199
2700 2019 12 강동구   108      1        131

In [3]:
ta1 <- ta
head(ta1)
nrow(ta1)

  V1   V2       V3       V4     V5    V6    V7    V8    V9    V10   V11   V12
1 기간 자치구별 구분     합계   1월   2월   3월   4월   5월   6월   7월   8월
2 2011 합계     발생건수 40,451 3,038 2,573 3,126 3,450 3,603 3,390 3,529 3,360
3 2011 합계     사망자수 435    36    32    20    44    36    37    36    50
4 2011 합계     부상자수 57,625 4,429 3,734 4,513 4,905 5,036 4,831 5,067 4,823
5 2011 종로구   발생건수 1,421  115   99    116   110   122   116   103   122
6 2011 종로구   사망자수 14     2     -     -     1     -     3     1     1
  V13   V14   V15   V16
1 9월   10월  11월  12월
2 3,433 3,734 3,701 3,514
3 37    25    40    42
4 4,893 5,244 5,150 5,000
5 121   135   140   122
6 2     2     1     1

[1] 703

In [4]:
ta1 <- ta1[-c(1:4),-4]
head(ta1)

   V1   V2     V3       V5  V6  V7  V8  V9  V10 V11 V12 V13 V14 V15 V16
5  2011 종로구 발생건수 115 99  116 110 122 116 103 122 121 135 140 122
6  2011 종로구 사망자수 2   -   -   1   -   3   1   1   2   2   1   1
7  2011 종로구 부상자수 165 134 162 153 157 163 154 171 166 193 204 172
8  2011 중구   발생건수 108 86  141 128 121 115 119 117 140 147 132 143
9  2011 중구   사망자수 -   -   -   3   1   1   1   1   1   2   3   -
10 2011 중구   부상자수 159 112 183 175 165 156 154 154 181 203 172 211

In [5]:
library(dplyr)

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [6]:
colnames(ta1) <- c('기간','자치구별','구분','1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'
)
rownames(ta1) <- c()
head(ta1)

  기간 자치구별 구분     1월 2월 3월 4월 5월 6월 7월 8월 9월 10월 11월 12월
1 2011 종로구   발생건수 115 99  116 110 122 116 103 122 121 135  140  122
2 2011 종로구   사망자수 2   -   -   1   -   3   1   1   2   2    1    1
3 2011 종로구   부상자수 165 134 162 153 157 163 154 171 166 193  204  172
4 2011 중구     발생건수 108 86  141 128 121 115 119 117 140 147  132  143
5 2011 중구     사망자수 -   -   -   3   1   1   1   1   1   2    3    -
6 2011 중구     부상자수 159 112 183 175 165 156 154 154 181 203  172  211

In [7]:
# for(i in 1:9)
# (3*27)*i+1:-c((3*27)*i+1)
#train_df, !is.na(train_df$Age)
ta1 <- subset(ta1,자치구별 != '합계')

In [8]:
unique(ta1$자치구별)

 [1] 종로구   중구     용산구   성동구   광진구   동대문구 중랑구   성북구
 [9] 강북구   도봉구   노원구   은평구   서대문구 마포구   양천구   강서구
[17] 구로구   금천구   영등포구 동작구   관악구   서초구   강남구   송파구
[25] 강동구
27 Levels: 강남구 강동구 강북구 강서구 관악구 광진구 구로구 금천구 ... 합계

In [9]:
nrow(ta1)

[1] 675

In [10]:
a <- t(ta1)
head(a)

         1        2        3        4        5        6        7
기간     2011     2011     2011     2011     2011     2011     2011
자치구별 종로구   종로구   종로구   중구     중구     중구     용산구
구분     발생건수 사망자수 부상자수 발생건수 사망자수 부상자수 발생건수
1월      115      2        165      108      -        159      98
2월      99       -        134      86       -        112      92
3월      116      -        162      141      -        183      88
         8        9        10       ... 690      691      692      693
기간     2011     2011     2011     ... 2019     2019     2019     2019
자치구별 용산구   용산구   성동구   ... 서초구   강남구   강남구   강남구
구분     사망자수 부상자수 발생건수 ... 부상자수 발생건수 사망자수 부상자수
1월      -        141      90       ... 293      281      2        412
2월      1        134      80       ... 237      227      3        315
3월      2        132      80       ... 243      280      2        401
         694      695      696      697      698      699
기간     2019     2019     2019     2019     2019     2019
자치구별 송파구   송파구   송파구   강동구   강동구   강동구
구분     발생건수 사망자수 부상자수 발생건수 사망자수 부상자수
1월      212      -        319      98       1        115
2월      193      2        253      87       -        133
3월      243      -        336      122      -        163

In [13]:
a <- c()
d = 1
for(i in 1:225){
    b <- 1:12
    dd <- d+2
    cc <-as.data.frame(t(ta1[d:dd,4:15]))
    colnames(cc) <- c(1,2,3)
    a <- rbind(a, cc)
    d = d+3
    
    
}

a$월 <- rep(1:12,25)

        1   2   3   월
1월     115 2   165  1
2월     99  -   134  2
3월     116 -   162  3
4월     110 1   153  4
5월     122 -   157  5
6월     116 3   163  6
7월     103 1   154  7
8월     122 1   171  8
9월     121 2   166  9
10월    135 2   193 10
11월    140 1   204 11
12월    122 1   172 12
1월1    108 -   159  1
2월1    86  -   112  2
3월1    141 -   183  3
4월1    128 3   175  4
5월1    121 1   165  5
6월1    115 1   156  6
7월1    119 1   154  7
8월1    117 1   154  8
9월1    140 1   181  9
10월1   147 2   203 10
11월1   132 3   172 11
12월1   143 -   211 12
1월2    98  -   141  1
2월2    92  1   134  2
3월2    88  2   132  3
4월2    103 1   149  4
5월2    104 1   151  5
6월2    98  -   143  6
...     ... ... ... ...
7월222  326 -   450  7
8월222  320 1   435  8
9월222  302 -   389  9
10월222 336 2   440 10
11월222 383 2   542 11
12월222 350 1   483 12
1월223  212 -   319  1
2월223  193 2   253  2
3월223  243 -   336  3
4월223  228 -   317  4
5월223  277 3   398  5
6월223  241 -   311  6
7월223  227 1   312  7
8월223  247 1   340  8
9월223  245 -   341  9
10월223 304 3   447 10
11월223 260 3   330 11
12월223 215 -   299 12
1월224  98  1   115  1
2월224  87  -   133  2
3월224  122 -   163  3
4월224  112 -   153  4
5월224  139 1   192  5
6월224  123 1   179  6
7월224  146 2   189  7
8월224  127 2   175  8
9월224  98  2   137  9
10월224 108 1   144 10
11월224 146 -   199 11
12월224 108 1   131 12

In [ ]:
(9*25)

In [ ]:
for(i in 1:25){

   
     ifelse( i %% 12 != 0){
          a$월 <- i %% 12
     }else{
          a$월 <- 12    
}
    }
a

In [ ]:
27*12

In [ ]:
ta1[seq(0, 699, 3),]

In [ ]:
#ta1[seq(1, 699, 3),]

In [ ]:
#ta1[seq(2, 699, 3),]

In [ ]:
for(i in 1:nrow())

In [ ]:
data <- seoul
head(data)

colnames(data) <- c('기간','자치구별','구분',1:12)
rownames(data) <- c()

df <- c()

for(i in 1:(nrow(data)/3)){
  hello <- data.frame(
                      as.integer((data[i*3, 1])),
                      as.integer(c(1:12)),
                      as.factor((data[i*3, 2])),
                      as.integer(t(data[i*3-2,4:15])),
                      as.integer(t(data[i*3-1,4:15])),
                      as.integer(t(data[i*3,4:15]))
                     )
   
    #년도,월,구, 발생건수 세로로, 사망자수 세로로, 부상자수 세로로
  colnames(hello)<- c("년도","월","자치구명","발생건수","사망자수","부상자수")
  df <- rbind(df, hello)
}

head(df)