In [31]:
a <- read.csv("Rdata1/목적별 입국_1.csv", header = F)

Warning message in read.table(file = file, header = header, sep = sep, quote = quote, :
“'Rdata1/목적별 입국_1.csv'에서 readTableHeader에 의하여 발견된 완성되지 않은 마지막 라인입니다”

In [32]:
a <-t(a)
head(a)

   [,1]       [,2]     [,3]
V1 목적별              관광
V2 2018년01월 인원(명) 742,732
V3 2018년02월 인원(명) 790,477
V4 2018년03월 인원(명) 1,085,542
V5 2018년04월 인원(명) 1,091,353
V6 2018년05월 인원(명) 991,449

In [33]:
b <- a[-c(1,nrow(a)),c(1,3)]
b

    [,1]       [,2]
V2  2018년01월 742,732
V3  2018년02월 790,477
V4  2018년03월 1,085,542
V5  2018년04월 1,091,353
V6  2018년05월 991,449
V7  2018년06월 1,055,855
V8  2018년07월 1,030,612
V9  2018년08월 1,100,711
V10 2018년09월 1,013,326
V11 2018년10월 1,269,201
V12 2018년11월 1,130,709
V13 2018년12월 1,112,381
V14 2019년01월 884,293
V15 2019년02월 907,928
V16 2019년03월 1,251,744
V17 2019년04월 1,382,540
V18 2019년05월 1,233,562
V19 2019년06월 1,237,840
V20 2019년07월 1,218,767
V21 2019년08월 1,251,764
V22 2019년09월 1,178,421
V23 2019년10월 1,403,576
V24 2019년11월 1,234,503
V25 2019년12월 1,247,337
V26 2020년01월 1,030,497
V27 2020년02월 503,976
V28 2020년03월 31,497
V29 2020년04월 5,135
V30 2020년05월 6,111
V31 2020년06월 9,744
V32 2020년07월 12,732
V33 2020년08월 8,634
V34 2020년09월 10,619
V35 2020년10월 11,119
V36 2020년11월 11,514
V37 2020년12월 11,893
V38 2021년01월 9,035
V39 2021년02월 8,500
V40 2021년03월 11,169
V41 2021년04월 11,492
V42 2021년05월 15,381
V43 2021년06월 17,847
V44 2021년07월 20,297
V45 2021년08월 18,452
V46 2021년09월 19,611
V47 2021년10월 25,698
V48 2021년11월 28,734
V49 2021년12월 25,630

In [34]:
rownames(b) <- c()
colnames(b) <- c("년도","인원수")
b

      년도       인원수
 [1,] 2018년01월 742,732
 [2,] 2018년02월 790,477
 [3,] 2018년03월 1,085,542
 [4,] 2018년04월 1,091,353
 [5,] 2018년05월 991,449
 [6,] 2018년06월 1,055,855
 [7,] 2018년07월 1,030,612
 [8,] 2018년08월 1,100,711
 [9,] 2018년09월 1,013,326
[10,] 2018년10월 1,269,201
[11,] 2018년11월 1,130,709
[12,] 2018년12월 1,112,381
[13,] 2019년01월 884,293
[14,] 2019년02월 907,928
[15,] 2019년03월 1,251,744
[16,] 2019년04월 1,382,540
[17,] 2019년05월 1,233,562
[18,] 2019년06월 1,237,840
[19,] 2019년07월 1,218,767
[20,] 2019년08월 1,251,764
[21,] 2019년09월 1,178,421
[22,] 2019년10월 1,403,576
[23,] 2019년11월 1,234,503
[24,] 2019년12월 1,247,337
[25,] 2020년01월 1,030,497
[26,] 2020년02월 503,976
[27,] 2020년03월 31,497
[28,] 2020년04월 5,135
[29,] 2020년05월 6,111
[30,] 2020년06월 9,744
[31,] 2020년07월 12,732
[32,] 2020년08월 8,634
[33,] 2020년09월 10,619
[34,] 2020년10월 11,119
[35,] 2020년11월 11,514
[36,] 2020년12월 11,893
[37,] 2021년01월 9,035
[38,] 2021년02월 8,500
[39,] 2021년03월 11,169
[40,] 2021년04월 11,492
[41,] 2021년05월 15,381
[42,] 2021년06월 17,847
[43,] 2021년07월 20,297
[44,] 2021년08월 18,452
[45,] 2021년09월 19,611
[46,] 2021년10월 25,698
[47,] 2021년11월 28,734
[48,] 2021년12월 25,630

In [35]:
library(stringr)

price <- "123,456,789"
price <- as.numeric(str_replace_all(price, ',' , ''))
price
class(price)

In [36]:
인원 <- as.numeric(str_remove_all(b[,2],","))

In [37]:
b <- cbind(b,인원=data.frame(인원))
b

   년도       인원수    인원
1  2018년01월 742,732    742732
2  2018년02월 790,477    790477
3  2018년03월 1,085,542 1085542
4  2018년04월 1,091,353 1091353
5  2018년05월 991,449    991449
6  2018년06월 1,055,855 1055855
7  2018년07월 1,030,612 1030612
8  2018년08월 1,100,711 1100711
9  2018년09월 1,013,326 1013326
10 2018년10월 1,269,201 1269201
11 2018년11월 1,130,709 1130709
12 2018년12월 1,112,381 1112381
13 2019년01월 884,293    884293
14 2019년02월 907,928    907928
15 2019년03월 1,251,744 1251744
16 2019년04월 1,382,540 1382540
17 2019년05월 1,233,562 1233562
18 2019년06월 1,237,840 1237840
19 2019년07월 1,218,767 1218767
20 2019년08월 1,251,764 1251764
21 2019년09월 1,178,421 1178421
22 2019년10월 1,403,576 1403576
23 2019년11월 1,234,503 1234503
24 2019년12월 1,247,337 1247337
25 2020년01월 1,030,497 1030497
26 2020년02월 503,976    503976
27 2020년03월 31,497      31497
28 2020년04월 5,135        5135
29 2020년05월 6,111        6111
30 2020년06월 9,744        9744
31 2020년07월 12,732      12732
32 2020년08월 8,634        8634
33 2020년09월 10,619      10619
34 2020년10월 11,119      11119
35 2020년11월 11,514      11514
36 2020년12월 11,893      11893
37 2021년01월 9,035        9035
38 2021년02월 8,500        8500
39 2021년03월 11,169      11169
40 2021년04월 11,492      11492
41 2021년05월 15,381      15381
42 2021년06월 17,847      17847
43 2021년07월 20,297      20297
44 2021년08월 18,452      18452
45 2021년09월 19,611      19611
46 2021년10월 25,698      25698
47 2021년11월 28,734      28734
48 2021년12월 25,630      25630

In [38]:
c <- b[,-2]

In [40]:
print(c)

         년도    인원
1  2018년01월  742732
2  2018년02월  790477
3  2018년03월 1085542
4  2018년04월 1091353
5  2018년05월  991449
6  2018년06월 1055855
7  2018년07월 1030612
8  2018년08월 1100711
9  2018년09월 1013326
10 2018년10월 1269201
11 2018년11월 1130709
12 2018년12월 1112381
13 2019년01월  884293
14 2019년02월  907928
15 2019년03월 1251744
16 2019년04월 1382540
17 2019년05월 1233562
18 2019년06월 1237840
19 2019년07월 1218767
20 2019년08월 1251764
21 2019년09월 1178421
22 2019년10월 1403576
23 2019년11월 1234503
24 2019년12월 1247337
25 2020년01월 1030497
26 2020년02월  503976
27 2020년03월   31497
28 2020년04월    5135
29 2020년05월    6111
30 2020년06월    9744
31 2020년07월   12732
32 2020년08월    8634
33 2020년09월   10619
34 2020년10월   11119
35 2020년11월   11514
36 2020년12월   11893
37 2021년01월    9035
38 2021년02월    8500
39 2021년03월   11169
40 2021년04월   11492
41 2021년05월   15381
42 2021년06월   17847
43 2021년07월   20297
44 2021년08월   18452
45 2021년09월   19611
46 2021년10월   25698
47 2021년11월   28734
48 2021년12월   25630

In [44]:
sum(c[1:3,2])
sum(c[4:6,2])
sum(c[7:9,2])
3*i

[1] 2618751

[1] 3138657

[1] 3144649

In [63]:
e <- c()
for(i in 1:16){
    d <- sum(c[3*i-2:3*i,2])
    e[i] <- data.frame(d)
}
e

[[1]]
[1] 742732

[[2]]
[1] 790477

[[3]]
[1] 1085542

[[4]]
[1] 1091353

[[5]]
[1] 991449

[[6]]
[1] 1055855

[[7]]
[1] 1030612

[[8]]
[1] 1100711

[[9]]
[1] 1013326

[[10]]
[1] 1269201

[[11]]
[1] 1130709

[[12]]
[1] 1112381

[[13]]
[1] 884293

[[14]]
[1] 907928

[[15]]
[1] 1251744

[[16]]
[1] 1382540

In [64]:
분기 <- rep(c(1,2,3,4),4);분기
년도 <- c(rep(2018,4),rep(2019,4),rep(2020,4),rep(2021,4));년도
관광객수 <- e;e

 [1] 1 2 3 4 1 2 3 4 1 2 3 4 1 2 3 4

 [1] 2018 2018 2018 2018 2019 2019 2019 2019 2020 2020 2020 2020 2021 2021 2021
[16] 2021

[[1]]
[1] 742732

[[2]]
[1] 790477

[[3]]
[1] 1085542

[[4]]
[1] 1091353

[[5]]
[1] 991449

[[6]]
[1] 1055855

[[7]]
[1] 1030612

[[8]]
[1] 1100711

[[9]]
[1] 1013326

[[10]]
[1] 1269201

[[11]]
[1] 1130709

[[12]]
[1] 1112381

[[13]]
[1] 884293

[[14]]
[1] 907928

[[15]]
[1] 1251744

[[16]]
[1] 1382540

In [68]:
분기별관광객수 <- cbind(년도,분기,관광객수)

In [69]:
분기별관광객수

      년도 분기 관광객수
 [1,] 2018 1    742732
 [2,] 2018 2    790477
 [3,] 2018 3    1085542
 [4,] 2018 4    1091353
 [5,] 2019 1    991449
 [6,] 2019 2    1055855
 [7,] 2019 3    1030612
 [8,] 2019 4    1100711
 [9,] 2020 1    1013326
[10,] 2020 2    1269201
[11,] 2020 3    1130709
[12,] 2020 4    1112381
[13,] 2021 1    884293
[14,] 2021 2    907928
[15,] 2021 3    1251744
[16,] 2021 4    1382540

In [70]:
write.csv(분기별관광객수, "Rdata1/분기별관광객수.csv")

In [71]:
read.csv("Rdata1/분기별관광객수.csv")

   X  년도 분기 관광객수
1   1 2018 1     742732
2   2 2018 2     790477
3   3 2018 3    1085542
4   4 2018 4    1091353
5   5 2019 1     991449
6   6 2019 2    1055855
7   7 2019 3    1030612
8   8 2019 4    1100711
9   9 2020 1    1013326
10 10 2020 2    1269201
11 11 2020 3    1130709
12 12 2020 4    1112381
13 13 2021 1     884293
14 14 2021 2     907928
15 15 2021 3    1251744
16 16 2021 4    1382540